flwr=0.17.0
flwr-datasets
flwr[simulation]
flwr-datasets[vision]
torch
torchvision
torchsummary
numpy
pandas
matplotlib
nibabel
scikit-image
pillow
datasets
flask
flask-socketio
eventlet
openpyxl
ipykernel
requests